*{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body, header, nav{
    margin: 0;
    padding: 0;
    border: 0;
}

/*HEADER*/
header{
    background-color: #045c17;
    height: 192px;
    width: 85vw;
    float: right;
    color: #fff;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    overflow: hidden;
}

header h1{
    font-size: 3rem;
    display: block;
    width: 100%;
    text-align: center;
}

header ul{
    height: 70px;
    list-style: none;
    width: 85vw;
    background-color: #82E83F;
}

header ul li{
    height: max-content;
    width: 20%;
    float: left;
    font-size: 1.3em;
}

header ul li a{
    line-height: 70px;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
    color: #fff;
}
/*NAV*/
nav{
    margin: 0;
    padding: 0;
    border: 0;
    width: 15vw;
    height: 100vh;
    background-color: #045c17;
    display: inline-block;
    text-align: center;
    position: fixed;
}

nav .ifet-logo{
    vertical-align: top;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    background-color: #045c17;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.3rem;

}

nav ul li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

nav ul li ul{
    display: inline-block;
    position: absolute;
    left: 15vw;
}

nav ul li ul li {
    display: none;
    width: 100%;
}

nav ul li:hover{
    background-color: #82E83F;
}

nav ul li:hover ul li {
    width: 15vw;
    background-color: #82E83F;
    text-align: center;
    display: block;
}

nav .gear{
    vertical-align: bottom;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


/*FOOTER*/
footer{
    border-top: 3px solid #045c17 ;
    height: 20vh;
    width: 85vw;
    background-color: #82E83F;
    display: inline-block;
    vertical-align: bottom;
    float: right;
}

footer .phrase{
    text-align: center;
    height: 90%;
    width: 100%;
}

footer blockquote{
    text-align: center;
    display: inline-block;
    margin: 0;
    margin-top: 50px;
    font-size: 2.0rem;
    width: 100%;
    font-weight: 500;
    font-family: "Dancing Script";
}

footer .phrase-author{
    display: block;
    text-align: center;
    float: left;
    margin-left: 350px;
    margin-top: 25px;
    font-family: "Dancing Script";
    font-size: 1.7rem;
    font-weight: 500;
}

footer .phrase-author::before{
    content: '-';
}

footer .copyright{
    display: block;
    text-align: center;
    vertical-align: bottom;
} 